.searchbar{
    max-width: 1216px;
    width: 100%;
    height: 56px;
    padding: 16px 24px 16px 24px;
    gap: 16px;
    border-radius: 8px;
    border: 2px solid var(--dark-40);
    background-color: var(--dark-30);

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 500;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);    
}

.searchbar:focus{
    border: 2px solid var(--brand-color);
}